=render :partial => 'shared/header'
= form_for @product, html: { multipart: true } do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message

  %br
    = f.text_field :title, placeholder: "Title"
    %br
    %br
  %p
    = f.text_field :description, placeholder: "Description"
    %br
    %br
    %br
  %p.center
    %h2 Upload Image
    %br
  %p.center
    .field
      = f.file_field :image
    %br
    %br
  %p
    = f.text_field :brand, placeholder: "Brand"
    %br
    %br
  %p
    = f.text_field :manufacturer, placeholder: "Manufacturer"
    %br
    %br
  %p
    = f.text_field :model, placeholder: "Model"
    %br
  %p
    = f.text_field :price, placeholder: "Price"
    %br
    %br

  %p.actions
    %br
    = link_to "Cancel", products_path, class: "form-cancel"
    = f.submit "Save", class: "form-submit"
    #target.thumbnail
